:root{
  --mainColor: #21232a;
  --mainLetterColor: rgb(255, 255, 255);
  --navColor: yellow;
  --mainBackground: #302F40;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;;
}

.wrapper{
  width: 375px;
  margin:0 auto;
}

/* 
* STYLES NAVBAR */


/*//////////////////////////////////////////////////////////////////////////////*/

.navbar{
  background-color: var(--mainColor);
  padding: 10px;
}

.accordion-button{
  background-color: var(--mainColor)!important;
  color:white!important
}

.navBar-items{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand{
  padding-bottom: 0px!important;
}
  


/*------------HEADER-----------*/
 

.ContentHeader{
  height: 100%;
  width: 100%;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--mainLetterColor);
  padding: 20px;
}

.ContentHeader h1{
  color:var(--mainLetterColor);
  letter-spacing: 3px;
}

/* ------------MAIN---------------- */

main{
  min-height: 83vh;
}

.contentMain{
  min-height: 83vh;
  width: 100%;
  background-color: var(--mainBackground);
  background-image: url(../src/assets/World\ Map.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.div-content-info{
  min-height: 70vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
}

.div-content-info p{
  color:rgb(255, 255, 255);
  text-align: left;
}

.btn-more-less{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------- */

.contentMainInfo{
  height: 50vh;
  width: 100%;
  background-color: var(--mainBackground);
}
.text{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-text{
  height: 95%;
  width: 95vw;
  background-color: var(--mainColor);
  border-radius: 20px;
  border: 1px solid var(--mainLetterColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: auto;
  padding: 10px;
}


/* --------TABLE----------------- */

.tittleInfo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color:var(--mainBackground);
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px;
  color: var(--mainLetterColor);
}

table{
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}
table tr{
  font-size: .7rem;
}

.mainTable{
  height: 60vh;
  overflow: scroll;
}

thead{
  position: sticky;
  top: 0;
  z-index: 999999;
}


thead th{
  font-size: .8rem;
}

.btn-group{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.label-table{
  font-size: .7rem!important;
}

.table>:not(caption)>*>* {
  padding: 2.2rem .5rem!important;
}
table tr {
  font-size: .8rem;
}